<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% if room_name %}
        <title>
            {{ room_name }}-chatroom
        </title>
        {% else %}
        <title>
            MainPage
        </title>
        {% endif %}
    </head>
    <body>
        <br>
            <h3>
                Looking for a specific chatroom? enter the name:
            </h3>
            </br>

            <input id="room-name-input" type="text" size="100" />
            </br>

            <input id="room-name-submit" type="button" value="Enter" />
            </br>

            <script>
                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = e => {
                    if (e.keyCode === 13) {
                        document.querySelector('#room-name-submit').click();
                    }
                };

                document.querySelector('#room-name-submit').onclick = e => {
                    var roomName = document.querySelector('#room-name-input').value;
                    window.location.pathname = '/chat/' + roomName + '/';
                };
            </script>

            <a href="{% url 'index' %}" title="mainpage">
                Main Page
            </a>
        </nav>

        {% block content %}{% endblock %}

        <textarea id="chat-log" cols="100" rows="20"></textarea>
        </br>

        <input id="chat-message-input" type="text" size="100" />
        </br>

        <input id="chat-message-submit" type="button" value="Send" />

        {{ room_name|json_script:"room-name" }}

        <script>
            {% if room_name %}
                const roomName = JSON.parse(document.getElementById('room-name').textContent);
            {% else %}
                const roomName = 'main';
            {% endif %}

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = e => {
                const data = JSON.parse(e.data);
                document.querySelector('#chat-log').value += (data.message + '\n');
            };

            chatSocket.onclose = e => {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = e => {
                if (e.keyCode === 13) {
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = e => {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message
                }));

                messageInputDom.value = '';
            };
        </script>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </body>
</html>
